<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text="">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <img src="assets/images/Screenshot 2023-07-11 143303.png" alt="">
 <ion-card>
  <ion-card-content>
    <p>Address: somewhere</p>
    <p>Complement: somewhere</p>
    <p>Neighbouthood: somewhere</p>
    <p>Zip Code: somewhere</p>
    <p>City name: somewhere</p>
  </ion-card-content>
 </ion-card>
 <ion-list>
  <ion-item lines="insert">
    <ion-label position="floating">Notes</ion-label>
<ion-textarea></ion-textarea>
  </ion-item>
 </ion-list>
 <ion-button color="success" size="full" (click)="newPickUpCall()">CREATE PICK UP CALL</ion-button>
</ion-content>
