

<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button  ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://www.pngkit.com/png/detail/18-180721_free-png-darth-vader-png-images-transparent-darth.png" alt="Free Png Darth Vader Png Images Transparent - Darth Vader Face Png@pngkit.com">
      </ion-avatar>
      <ion-label>
       <h1>Darth Vader</h1> 
       <p> Gathered:<span class="money">100 Republic Credit</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-pickup-call-card  [status]="'On Hold'" [updateAt]="'22/03/2023 17:13:00'" [createdAt]="'21/03/2023'" [note]="'Notes: two full bags'">
    <ion-card-header header>
      <ion-card-subtitle>
        Last pick-up call
      </ion-card-subtitle> 
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer >
      See all ...
  </ion-button>
  </app-pickup-call-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button color="success">
   <ion-icon name="add"></ion-icon>
</ion-fab-button>
  </ion-fab>
</ion-content>
